{% macro card(props) %}

    <article class="card
        {% if props.variant %} card--{{ props.variant }}{% endif %}
        {% if props.extraClasses %}{{ props.extraClasses }}{% endif %}
    ">
        {% if props.image %}
            <div class="card__image" style="background-image:url('{{ props.image }}');"></div>
        {% endif %}

        <div class="card__inner">

            {% if props.contextIcon %}
                <div class="card__context">
                    <img class="card__context-icon" src="{{ props.contextIcon }}" alt="{{ props.contextText }}">
                    <h5 class="card__context-text">{{ props.contextText }}</h5>
                </div>
            {% endif %}

            <h2 class="card__title">{{ props.title }}</h2>

            {% if props.description %}
                <p class="card__description">{{ props.description }}</p>
            {% endif %}

            {% if props.buttons is defined %}
                {% from 'button.twig' import buttons %}
                {% if props.buttons|length > 1 %}
                <div class="card__button-group">
                    {% for button in props.buttons %}
                        {{ buttons(button) }}
                    {% endfor %}
                </div>
                {% else %}
                    {% for button in props.buttons %}
                        {{ buttons(button) }}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if props.tag %}
                <h4 class="card__tag">{{ props.tag }}</h4>
            {% endif %}

            {% if props.date %}
                <h4 class="card__date">{{ props.date }}</h4>
            {% endif %}

        </div>

    </article>

{% endmacro %}
